/* Service */
.Services > h2{
    margin: 13rem 7rem 2rem 7rem;
}

.Services > main{
    text-align: center;
    margin: 2rem 7rem 2rem 7rem;
}

.Services > main > div{
    background: var(--color-background);
    display: inline-block;
    border-radius: 0.5rem;
    vertical-align: middle;
    width: 32rem;
    height: 42rem;
    margin: 2rem;
    text-align: center;
    padding: 1rem;
    cursor: pointer;
    transition: all 350ms ease;
}
.Services > main:hover > :not(:hover){
    opacity: 0.5;
    transform: scale(0.9);
}

.Services > main > div > h4{
    margin: 1rem 0;
    transition: all 350ms ease;
}
.Services > main > div:hover > h4{
    color: var(--color-sucess);
}

.Services > main > div > img{
    width: 28rem;
    height: 20rem;
    margin: 4rem 0;
    transition: all 350ms ease;
}
.Services > main > div:hover > img{
    transform: scale(0.7) translateY(-10rem);
}

.Services > main > div > p{
    color: transparent;
    visibility: hidden;
    transition: all 350ms ease;
}
.Services > main > div:hover > p{
    color: var(--color-white);
    visibility: visible;
    transform: translateY(-12rem);
}

/* ServiceID */
.ServiceID > main{
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

.ServiceID > main > section{
    height: 100vh;
    scroll-snap-align: start;
}

.ServiceID > main > .one{
    padding: 0;
    position: relative;
    display: inline-block;
    text-align: left;
    z-index: -1;
}

.ServiceID > main > .one > img{
    width: 100vw;
    height: 100vh;
    opacity: 0.4;
    filter: blur(4px);
}

.ServiceID > main > .one > h1{
    position: absolute;
    top: 60%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.ServiceID > main > .two{
    height: 200vh;
    padding: 8.5rem 3.5rem 0 12rem;
}

.ServiceID > main > .four{
    width: 60%;
    padding: 8.5rem 3.5rem 0 12rem;
}

.ServiceID > main > .four > Footer{
    width: 100vw;
    margin-left: -12rem;
}


@media only screen and (max-width: 960px){
    .Services{
        margin: 0;
        padding: 0;
    }

    .Services > h2{
        margin: 12rem 2rem 0 2rem;
    }

    .Services > main{
        margin: 2rem;
    }
    
    .Services > main > div{
        width: 90%;
        height: 40rem;
    }

    .Services > footer{
        margin: 5rem 0 0 0rem;
        height: 20vh;
    }

    .ServiceID > main > .one > h1{
        font-size: 4rem;
        transform: translate(-35%, -50%);
    }

    .ServiceID > main > .two{
        height: 200vh;
        padding: 25rem 2rem 0 2rem;
    }
    
    .ServiceID > main > .two > h1{
        font-size: 5rem;
    }

    .ServiceID > main > .two > ul{
        margin-left: 2rem;
    }

    .ServiceID > main > .four{
        padding: 15rem 2rem 0 2rem;
        height: 70vh;
        width: 100%;
    }
    
    .ServiceID > main > .four > div > h1{
        font-size: 4rem;
    }

    .ServiceID > main > .four > Footer{
        margin: 0 -2rem 0 -2rem;
        width: 100vw;
        padding: 0;
        vertical-align: middle;
        text-align: center;
        height: 30vh;
    }
}