/* Product */
.Products > h2{
    margin: 13rem 7rem 2rem 7rem;
}

.Products > main{
    text-align: center;
    margin: 2rem 7rem 2rem 7rem;
}

.Products > main > div{
    background: var(--color-background);
    overflow: hidden;
    display: inline-block;
    border-radius: 0.5rem;
    vertical-align: middle;
    width: 40rem;
    height: 40rem;
    margin: 2rem;
    text-align: center;
    cursor: pointer;
    transition: all 350ms ease;
}
.Products > main:hover > :not(:hover){
    opacity: 0.5;
    transform: scale(0.9);
}

.Products > main > div > img{
    width: 20rem;
    height: 25rem;
    margin: 4rem 0;
    transition: all 750ms ease;
}
.Products > main > div:hover > img{
    transform: scale(1.4);
    opacity: .2;
}

.Products > main > div > h4{
    margin: 1rem 0;
    transition: all 350ms ease;
}
.Products > main > div:hover > h4{
    color: var(--color-sucess);
    transform: translateY(-15rem);
}

.Products > main > div > p{
    color: transparent;
    visibility: hidden;
    transition: all 350ms ease;
}

.Products > main > div:hover > p{
    color: var(--color-white);
    visibility: visible;
    transform: translateY(-12rem);
}

/* ProductID */
.ProductID > main{
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

.ProductID > main > section{
    padding: 8.5rem 3.5rem 0 12rem;
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ProductID > main > .one{
    background: var(--color-background);
}

.ProductID > main > .one > div{
    padding-top: 20rem;
    width: 48vw;
}

.ProductID > main > .one > div > h1{
    font-size: 6vw;
    line-height: 15rem;
}

.ProductID > main > .one > div > p{
    font-size: 2.2rem;
}

.ProductID > main > .one > img{
    width: 40vw;
    height: 80vh;
}

.ProductID > main > .two{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ProductID > main > .two > p{
    font-family: 'Londrina Outline', cursive;
    background: var(--color-primary);
    padding: 10vh 0 0 36vw;
    color: var(--color-letter);
    width: 100vw;
    height: 100vh;
    font-size: 35rem;
    font-weight: 100;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}

.ProductID > main > .two > img{
    width: 70rem;
    height: 60rem;
}

.ProductID > main > .two > div{
    width: 50%;
    padding: 0 3rem;
}

.ProductID > main > .two > div > h1, .ProductID > main > .two > div > p, .ProductID > main > .two > div > h1, .ProductID > main > .two > div > div > i{
    color: var(--color-letter-variant);
}

.ProductID > main > .two > div > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ProductID > main > .two > div > div{
    margin: 2rem 4rem;
}

.ProductID > main > .two > div > div > p{
    padding: .5rem 2rem;
    border-radius: .5rem;
}
.ProductID > main > .two > div > div > .stock{
    background: var(--color-sucess);
}
.ProductID > main > .two > div > div > .n-stock{
    background: var(--color-danger);
}

.ProductID > main > .two > div > p{
    font-size: 2.2rem;
}

.ProductID > main > .three > nav{
    text-align: center;
    margin: 0 auto;
}

.ProductID > main > .three > nav > ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    list-style: none;
}
.ProductID > main > .three > nav > ul > li{
    width: 110rem;
    display: flex;
    justify-content: center;
}

.ProductID-a{
    flex: 1;
    padding: 1rem 0;
    transition: all 350ms ease;
    opacity: 0.7;
    margin: 0 0.1rem
}
.ProductID-a:hover, .ProductID-a.active{
    opacity: 1;
}
.ProductID-a.one{
    background: var(--color-sucess);
}
.ProductID-a.two{
    background: rgb(40, 187, 145);
}
.ProductID-a.three{
    background: rgb(26, 142, 109);
}
.ProductID-a.four{
    background: rgb(13, 105, 79);
}

.ProductID-a > h3{
    color: var(--color-black);
    font-size: 2rem;
    font-weight: 400;
}

.ProductID-div{
    display: none;
    color: var(--color-black);
    flex: 1;
    height: 75vh;
    background: rgb(198, 197, 195);
}
.ProductID-div.active{
    display: grid;
}
.ProductID-div.one{
    background: var(--color-sucess);
    padding: 20rem 5rem;
}
.ProductID-div.two{
    background: rgb(40, 187, 145);
    padding: 5rem;
}
.ProductID-div.three{
    background: rgb(26, 142, 109);
}
.ProductID-div.four{
    background: rgb(13, 105, 79);
}

.ProductID-div.one > p{
    font-size: 2rem;
}

.ProductID-div.two > ul{
    list-style: decimal;
}

.ProductID-div.two > ul > li{
    margin: 2rem 0;
}

.ProductID-div.four.active{
    text-align: center;
    padding: 2rem;
    display: block;
    overflow: scroll;
}

.ProductID-div.four > img{
    display: inline-block;
    vertical-align: middle;
    width: 25rem;
    border-radius: 1rem;
    margin: 2rem;
    padding: 1rem;
    cursor: pointer;
    transition: all 350ms ease;
}
.ProductID-div.four > img:hover{
    transform: scale(1.1);
}

.ProductID > main > .four{
    padding-top: 12rem;
    flex-direction: column;
    background: var(--color-background-variant);
    text-align: center;
    width: 100%;
}

.ProductID > main > .four > Footer{
    width: 100vw;
    margin-left: -12rem;
}

@media only screen and (max-width: 960px){
    .Products{
        padding: 0;
        margin: 1rem;
    }

    .Products > h2{
        margin: 13rem 2rem 2rem 2rem;
    }

    .Products > main{
        margin: 0 2rem;
    }

    .Products > main > div{
        margin: 1rem 0;
    }

    .Products > main > div{
        width: 100%;
    }

    .Products > div > Footer{
        margin: 2rem 0 0 0;
        padding: 0;
        vertical-align: middle;
        text-align: center;
        height: 20vh;
    }

    .ProductID > main > section{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 9.5rem 2rem 12rem 2rem;
    }

    .ProductID > main > .four{
        padding-bottom: 0;
    }

    .ProductID > main > .one > div{
        padding-top: 0;
        width: 100%;
    }

    .ProductID > main > .one > div > h1{
        line-height: 7rem;
    }
    
    .ProductID > main > .one > div > i{
        font-size: 4vw;
    }
    
    .ProductID > main > .one > img{
        width: 70vw;
    }

    .ProductID > main > .two{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .ProductID > main > .two > img{
        display: none;
    }
    
    .ProductID > main > .two > div{
        width: 100%;
        padding: 0 3rem;
    }
    
    .ProductID > main > .three > nav > ul > li{
        width: 90vw;
    }
    
    .ProductID-a > h3{
        font-size: 1.2rem;
    }
    
    .ProductID-div{
        height: 65vh;
    }

    .ProductID-div.one{
        padding: 10rem 5rem;
    }
    
    .ProductID-div.one > p{
        font-size: 2rem;
    }

    .ProductID-div.two{
        overflow: scroll;
    }
    
    .ProductID-div.two > ul{
        list-style: decimal;
    }
    
    .ProductID-div.two > ul > li{
        margin: 1rem 0;
    }
    
    .ProductID > main > .four{
        padding-top: 10rem;
    }

    .ProductID > main > .four > Footer{
        margin: 0;
    }
}