@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&display=swap');

/* ------------- ROOT VARIABLES ------------- */
:root{
    --color-primary: #2B315D;
    --color-primary-variant: #0e0f1d;
    --color-danger: #be3039;
    --color-danger-variant: #3F0509;
    --color-sucess: #03989E;
    --color-sucess-variant: #06777a;
    --color-warning: #ffbb55;
    --color-warning-variant: #dd9f41;
    --color-white: #F8F9FA;
    --color-white-variant: rgb(145, 143, 143);
    --color-black: rgb(41, 41, 41);
    --color-black-variant: rgb(85, 84, 84);
    --color-background: #1B1B1B;
    --color-background-variant: #2D2D2D;
    --color-letter: rgb(20, 20, 20);
    
    --box-shadow: inset 0 -1px 0 var(--color-dark-light);
}

.dark-theme-variables{
    --color-white: rgb(41, 41, 41);
    --color-white-variant: rgb(58, 58, 58);
    --color-black: #eee;
    --color-black-variant: rgb(219, 219, 219);
    --color-background: #eee;
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background: var(--color-background);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2645%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='rgba(2%2c 13%2c 24%2c 1)'%3e%3c/rect%3e%3cpath d='M307.98 715.44L379 756.44L379 838.44L307.98 879.44L236.97 838.44L236.97 756.44zM379 838.44L450.02 879.44L450.02 961.44L379 1002.44L307.98 961.44L307.98 879.44zM379 1084.44L450.02 1125.44L450.02 1207.44L379 1248.44L307.98 1207.44L307.98 1125.44zM1018.15 223.44L1089.16 264.44L1089.16 346.44L1018.15 387.44L947.13 346.44L947.13 264.44zM1160.18 961.44L1231.19 1002.44L1231.19 1084.44L1160.18 1125.44L1089.16 1084.44L1089.16 1002.44zM1231.19 1084.44L1302.21 1125.44L1302.21 1207.44L1231.19 1248.44L1160.18 1207.44L1160.18 1125.44zM1302.21 -22.56L1373.23 18.44L1373.23 100.44L1302.21 141.44L1231.19 100.44L1231.19 18.44zM1302.21 961.44L1373.23 1002.44L1373.23 1084.44L1302.21 1125.44L1231.19 1084.44L1231.19 1002.44zM1515.26 100.44L1586.27 141.44L1586.27 223.44L1515.26 264.44L1444.24 223.44L1444.24 141.44zM1444.24 469.44L1515.26 510.44L1515.26 592.44L1444.24 633.44L1373.23 592.44L1373.23 510.44zM1515.26 592.44L1586.27 633.44L1586.27 715.44L1515.26 756.44L1444.24 715.44L1444.24 633.44zM1515.26 838.44L1586.27 879.44L1586.27 961.44L1515.26 1002.44L1444.24 961.44L1444.24 879.44zM1515.26 1084.44L1586.27 1125.44L1586.27 1207.44L1515.26 1248.44L1444.24 1207.44L1444.24 1125.44zM1657.29 592.44L1728.31 633.44L1728.31 715.44L1657.29 756.44L1586.27 715.44L1586.27 633.44zM1728.31 469.44L1799.32 510.44L1799.32 592.44L1728.31 633.44L1657.29 592.44L1657.29 510.44zM1870.34 -22.56L1941.35 18.44L1941.35 100.44L1870.34 141.44L1799.32 100.44L1799.32 18.44z' stroke='rgba(2%2c 50%2c 42%2c 0.4)' stroke-width='2'%3e%3c/path%3e%3cpath d='M299.78 715.44 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM370.8 756.44 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM370.8 838.44 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM299.78 879.44 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM228.77 838.44 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM228.77 756.44 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM441.82 879.44 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM441.82 961.44 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM370.8 1002.44 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM299.78 961.44 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM370.8 1084.44 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM441.82 1125.44 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM441.82 1207.44 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM370.8 1248.44 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM299.78 1207.44 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM299.78 1125.44 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM1009.95 223.44 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM1080.96 264.44 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM1080.96 346.44 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM1009.95 387.44 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM938.93 346.44 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM938.93 264.44 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM1151.98 961.44 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM1222.99 1002.44 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM1222.99 1084.44 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM1151.98 1125.44 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM1080.96 1084.44 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM1080.96 1002.44 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM1294.01 1125.44 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM1294.01 1207.44 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM1222.99 1248.44 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM1151.98 1207.44 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM1294.01 -22.56 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM1365.03 18.44 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM1365.03 100.44 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM1294.01 141.44 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM1222.99 100.44 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM1222.99 18.44 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM1294.01 961.44 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM1365.03 1002.44 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM1365.03 1084.44 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM1507.06 100.44 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM1578.07 141.44 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM1578.07 223.44 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM1507.06 264.44 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM1436.04 223.44 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM1436.04 141.44 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM1436.04 469.44 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM1507.06 510.44 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM1507.06 592.44 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM1436.04 633.44 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM1365.03 592.44 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM1365.03 510.44 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM1578.07 633.44 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM1578.07 715.44 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM1507.06 756.44 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM1436.04 715.44 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM1507.06 838.44 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM1578.07 879.44 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM1578.07 961.44 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM1507.06 1002.44 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM1436.04 961.44 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM1436.04 879.44 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM1507.06 1084.44 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM1578.07 1125.44 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM1578.07 1207.44 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM1507.06 1248.44 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM1436.04 1207.44 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM1436.04 1125.44 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM1649.09 592.44 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM1720.11 633.44 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM1720.11 715.44 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM1649.09 756.44 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM1720.11 469.44 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM1791.12 510.44 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM1791.12 592.44 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM1649.09 510.44 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM1862.14 -22.56 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM1933.15 18.44 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM1933.15 100.44 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM1862.14 141.44 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM1791.12 100.44 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM1791.12 18.44 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0z' fill='rgba(2%2c 50%2c 42%2c 0.4)'%3e%3c/path%3e%3cpath d='M137.73 862.71L187.96 891.71L187.96 949.71L137.73 978.71L87.5 949.71L87.5 891.71zM288.42 601.71L338.66 630.71L338.66 688.71L288.42 717.71L238.19 688.71L238.19 630.71zM288.42 949.71L338.66 978.71L338.66 1036.71L288.42 1065.71L238.19 1036.71L238.19 978.71zM338.66 -7.29L388.89 21.71L388.89 79.71L338.66 108.71L288.42 79.71L288.42 21.71zM388.89 79.71L439.12 108.71L439.12 166.71L388.89 195.71L338.66 166.71L338.66 108.71zM439.12 -7.29L489.35 21.71L489.35 79.71L439.12 108.71L388.89 79.71L388.89 21.71zM589.81 79.71L640.04 108.71L640.04 166.71L589.81 195.71L539.58 166.71L539.58 108.71zM539.58 166.71L589.81 195.71L589.81 253.71L539.58 282.71L489.35 253.71L489.35 195.71zM539.58 862.71L589.81 891.71L589.81 949.71L539.58 978.71L489.35 949.71L489.35 891.71zM640.04 166.71L690.27 195.71L690.27 253.71L640.04 282.71L589.81 253.71L589.81 195.71zM690.27 601.71L740.5 630.71L740.5 688.71L690.27 717.71L640.04 688.71L640.04 630.71zM640.04 688.71L690.27 717.71L690.27 775.71L640.04 804.71L589.81 775.71L589.81 717.71zM640.04 1036.71L690.27 1065.71L690.27 1123.71L640.04 1152.71L589.81 1123.71L589.81 1065.71zM790.73 79.71L840.96 108.71L840.96 166.71L790.73 195.71L740.5 166.71L740.5 108.71zM891.2 253.71L941.43 282.71L941.43 340.71L891.2 369.71L840.96 340.71L840.96 282.71zM840.96 1036.71L891.2 1065.71L891.2 1123.71L840.96 1152.71L790.73 1123.71L790.73 1065.71zM941.43 340.71L991.66 369.71L991.66 427.71L941.43 456.71L891.2 427.71L891.2 369.71zM941.43 514.71L991.66 543.71L991.66 601.71L941.43 630.71L891.2 601.71L891.2 543.71zM1041.89 -7.29L1092.12 21.71L1092.12 79.71L1041.89 108.71L991.66 79.71L991.66 21.71zM1092.12 79.71L1142.35 108.71L1142.35 166.71L1092.12 195.71L1041.89 166.71L1041.89 108.71zM1092.12 949.71L1142.35 978.71L1142.35 1036.71L1092.12 1065.71L1041.89 1036.71L1041.89 978.71zM1142.35 1036.71L1192.58 1065.71L1192.58 1123.71L1142.35 1152.71L1092.12 1123.71L1092.12 1065.71zM1293.04 253.71L1343.27 282.71L1343.27 340.71L1293.04 369.71L1242.81 340.71L1242.81 282.71zM1293.04 775.71L1343.27 804.71L1343.27 862.71L1293.04 891.71L1242.81 862.71L1242.81 804.71zM1343.27 -7.29L1393.5 21.71L1393.5 79.71L1343.27 108.71L1293.04 79.71L1293.04 21.71zM1493.97 253.71L1544.2 282.71L1544.2 340.71L1493.97 369.71L1443.74 340.71L1443.74 282.71zM1493.97 601.71L1544.2 630.71L1544.2 688.71L1493.97 717.71L1443.74 688.71L1443.74 630.71zM1443.74 862.71L1493.97 891.71L1493.97 949.71L1443.74 978.71L1393.5 949.71L1393.5 891.71zM1443.74 1036.71L1493.97 1065.71L1493.97 1123.71L1443.74 1152.71L1393.5 1123.71L1393.5 1065.71zM1594.43 775.71L1644.66 804.71L1644.66 862.71L1594.43 891.71L1544.2 862.71L1544.2 804.71zM1694.89 427.71L1745.12 456.71L1745.12 514.71L1694.89 543.71L1644.66 514.71L1644.66 456.71zM1795.35 775.71L1845.58 804.71L1845.58 862.71L1795.35 891.71L1745.12 862.71L1745.12 804.71zM1895.81 79.71L1946.04 108.71L1946.04 166.71L1895.81 195.71L1845.58 166.71L1845.58 108.71zM1895.81 601.71L1946.04 630.71L1946.04 688.71L1895.81 717.71L1845.58 688.71L1845.58 630.71zM1845.58 688.71L1895.81 717.71L1895.81 775.71L1845.58 804.71L1795.35 775.71L1795.35 717.71zM1895.81 775.71L1946.04 804.71L1946.04 862.71L1895.81 891.71L1845.58 862.71L1845.58 804.71zM1946.04 688.71L1996.28 717.71L1996.28 775.71L1946.04 804.71L1895.81 775.71L1895.81 717.71z' stroke='rgba(8%2c 51%2c 94%2c 0.44)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask2645'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    user-select: auto;
    overflow: auto;
    font-size: 1.6rem;
    font-weight: 300;
    color: var(--color-white);
}
::-webkit-scrollbar {
    display: none;
}

h1{
    font-family: 'Share Tech', sans-serif;
    font-weight: 400;
    font-size: 10rem;
    color: var(--color-white);
}

h2{
    font-size: 4rem;
    color: var(--color-white);
}

h3{
    font-size: 4rem;
    color: var(--color-primary);
}

h4{
    font-size: 3rem;
    color: var(--color-white);
}

h5{
    font-size: 2.5rem;
    color: var(--color-primary);
}

.submit{
    color: var(--color-white);
    background: var(--color-sucess);
    font-size: 1.5rem;
    border: none;
    border-radius: 0.5rem;
    margin-bottom: 8rem;
    padding: 1rem 2rem;
    cursor: pointer;
    transition: all 500ms ease;
}
.submit:hover{
    background: var(--color-sucess-variant);
}

.not-submit{
    background: var(--color-sucess-variant);
    cursor: default;
}

ion-icon {
    color: var(--color-white);
}